[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "socket.io-client-swift"]
	path = socket.io-client-swift
	url = https://github.com/socketio/socket.io-client-swift.git
[submodule "Starscream"]
	path = Starscream
	url = https://github.com/daltoniam/Starscream.git
